@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
	font-family: 'Pokemon';
	src: url('../public/fonts/PocketMonk.ttf');
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: var(--my-dark-gray); */
}
@media (min-width: 1200px) {
	body {
		padding: 0 6rem;

		background-image: url('../public/img/bg.png'),
			linear-gradient(
				to right,
				rgba(128, 128, 128, 0.418),
				rgba(128, 128, 128, 0.404)
			);
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
